* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #dbdbdb !important;
    transition: all 0.25s ease-in-out;
}

body {
    background-color: #1e1e2f;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

body.guest-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.guest-container {
    background-color: #2c2f48;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.guest-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.guest-container input[type="text"],
.guest-container input[type="url"],
.guest-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: #3e405a;
    font-size: 14px;
}

button.btn-md {
    min-width: 7.5rem;
    margin: 0 0.25rem;
}

select {
    min-width: 12rem;
}

button.loading {
    position: relative;
    pointer-events: none;
}

button.loading::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 5%;
    width: 10px;
    height: 10px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.guest-container button {
    width: 100%;
    padding: 12px;
    background-color: #5c62ec;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.guest-container button.active,
.guest-container button:hover {
    background-color: #4649c7;
}

.guest-container button.back-btn {
    margin-top: 0.5rem;
    background-color: #e74c3c;
}

.guest-container button.back-btn:hover {
    background-color: #c0392b;
}

.error {
    color: #ff6b6b;
    font-size: 12px;
    text-align: center;
}

.hidden {
    display: none;
}

.container input[type="text"],
.container input[type="url"],
.container input[type="password"],
.container input[type="email"] {
    width: 100%;
    padding: 12px 14px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: #3e405a;
    color: #dbdbdb;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.container input[type="text"]:focus,
.container input[type="url"]:focus,
.container input[type="password"]:focus,
.container input[type="email"]:focus {
    outline: none;
    background-color: #4b4e6d;
    box-shadow: 0 0 0 2px #5c62ec;
}

.container input::placeholder {
    color: #a0a0b2;
    opacity: 1;
}

.container label {
    font-size: 13px;
    /* margin-bottom: 5px; */
    display: block;
    color: #cccccc;
}

.printers {
    padding: 12px 14px;
    background-color: #3e405a;
}

.container select {
    /* width: 100%; */
    padding: 12px 14px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: #3e405a;
    color: #dbdbdb;
    font-size: 14px;
    appearance: none;
    /* Remove default arrow for custom styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='%23dbdbdb' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.container select:focus {
    outline: none;
    background-color: #4b4e6d;
    box-shadow: 0 0 0 2px #5c62ec;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

/* Primary style */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0069d9;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.btn-primary:active {
    background-color: #005cbf;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary:disabled {
    background-color: #c0d3ec;
    cursor: not-allowed;
}

/* Success style */
.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
    box-shadow: 0 4px 10px rgba(40, 167, 69, 0.2);
}

.btn-success:active {
    background-color: #1e7e34;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-success:disabled {
    background-color: #bdeacb;
    cursor: not-allowed;
}

/* Danger style */
.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
    box-shadow: 0 4px 10px rgba(220, 53, 69, 0.2);
}

.btn-danger:active {
    background-color: #bd2130;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-danger:disabled {
    background-color: #f1b8be;
    cursor: not-allowed;
}

/* Container */
.printers {
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 5px;
}

/* Heading */
h1 {
    font-size: 24px;
    margin: 0px;
    color: #333;
}

/* Printer Item */
.printer-item {
    display: flex;
    margin: 10px 0px;
    gap: 10px;
}

.printer-item label {
    font-size: 16px;
    color: #444;
}

.printer-item input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

#printer-list {
    padding: 0.5rem 0;
}

/* dashboard styles */
.dashboard-menu {
    display: flex;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.dashboard-menu-item {
    flex: 1;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dashboard-menu-item a {
    display: block;
    padding: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.dashboard-menu-item:hover {
    background-color: #1f2937;
}

.dashboard-menu-item.active {
    background-color: #1f2937;
}

.dashboard-menu-item.active a {
    color: #fff;
}

.content {
    padding: 2rem;
}

.card {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
}

.card h2 {
    font-size: 20px;
}

.welcome {
    padding: 0 1.5rem;
}

/* legend style */
.log-box {
  border: 2px solid #444;
  padding: 15px;
  border-radius: 10px;
  font-family: monospace;
  margin-top: 10px;
}

.log-title {
  font-weight: bold;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  /* font-size: 15px; */
}

.log-messages {
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  /* font-size: 14px; */
}

.form-row {
    margin: 10px 0;
}

form .form-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half {
    width: 49% !important;
}